/*Global Styles (not as scary as global variables)   ------------------------------------------------------------------*/

body {
	background-image: url("gal.gif");
  color: white;
  font-family: "Rubik", "Helvetica Nueue", "Helvetica", sans-serif;
  font-size: 16px;
}
.fa-events-icons-ready {
  margin: 50px;
}

.fa {
  vertical-align: middle;
}

.container, .container-fluid {
  margin: 1rem;
}

.col {
  padding: 0;
	font-family: 'Press Start 2P', cursive;
}

textarea:focus, input:focus {
	border: 2px solid #5597F4;
}

button {
  cursor: pointer;
	border: 3px solid #F6A623;
	border-radius: 2.0em;
  border-width: solid;
	background-color: #01061A;
	color: white;
	font-family: 'Source Code Pro', monospace;
	

}

a {
	cursor: pointer;
}

.hideMe {
  display: none;
}

canvas {
  height: 900px;
  width: 100%;
}

.jumbotron {
	background-color: #01061A;
	border-radius: 1.2em;
}


/*Login Page   ------------------------------------------------------------------*/

/*the fixed position, margin, and text-align allow us to center the login window*/
.login {
  position: fixed;
  top: 175px;
  width: 350px;
  margin: 0 auto;
  text-align: center;
  bottom: 0;
  left: 0;
  top: 175px;
  right: 0;
}

.login button {
  width: 125px;
  margin-top: 1rem;
}

.login img {
  width: 175px;
  margin: 1rem;
	border-radius: 50%;
}

/*Profile thumb dropdown ------------------------------------------------------------------*/

.navbar {
  padding: 0 1rem;
  background-color: #01061A;
}

.navbar-brand {
  width: 3rem;
/*  margin: 0 auto;*/
  cursor: pointer;
}
.bg-faded {
	background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	
}

/*by setting the display to none here and block on hover further down, we achieve a drop-down on hover effect*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 2;
  width: 15rem;
  /*box shadow cheat sheet: horizontal offset, vertical offset, blur radius (optional), spread radius (optional), color*/
  -webkit-box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:    5px 5px 5px 1px rgba(0, 0, 0, 0.4);
  box-shadow:         5px 5px 5px 1px rgba(0, 0, 0, 0.4);
}

.card-block {
  padding: 12px 10px;
}

.card-block {
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.caption {
  color: #AAA;
  margin-top: -10px;
}

/*Project list ------------------------------------------------------------------*/

.fa-chevron-right {
  margin-right: .5rem;
}

.repoList {
  max-height: 150px;
  overflow-y: scroll;
}
.search-repos {
  width: 100%;
	font-family: 'Source Code Pro', monospace;
	color: white;

}

/*we need to set the z-index as a number less than the dropdown or the search bar will appear on top of the dropdown*/
#search-repo {
  z-index: 1;
	border-radius: 0.8em;
	border: 3px solid #50E3C2;
	font-family: 'Source Code Pro', monospace;
	color: white;
	background-color: #01061A;

}

#add-button {
  margin-left: .5rem;
}

.project-list-entry {
  padding: 7px 10px;
  margin: 15px 5px;
  font-size: 1em;
  line-height: 1.3em;
  -moz-box-shadow:    5px 5px 5px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.4);
  box-shadow:         5px 5px 5px 1px rgba(0, 0, 0, 0.4);
  border: 1px solid #CCC;
  font-weight: normal;
	border-radius: 0.8em;
	border: 3px solid #D001C4;
	font-family: 'Source Code Pro', monospace;
  background-color: #01061A;
	color: white;


	
}

.project-list-entry:hover {
  cursor: pointer;
  border: 2px solid #5597F4;
}

.project-list-entry-title {
  font-weight: bold;
	font-family: 'Source Code Pro', monospace;
	background-color: #01061A;
	color: white;


}

.project-list-entry-detail {
  font-size: 12px;
	font-family: 'Source Code Pro', monospace;
	background-color: #01061A;
	color: white;


}

.right {
  float: right;
}

.projects-section {
  margin-top: 1rem;
  width: 100%;
}

.repo-content {
	color: white;
	font-family: 'Source Code Pro', monospace;

}

.custom-select {
	font-family: "Rubik", "Helvetica Nueue", "Helvetica", sans-serif;
	background-color: #01061A;
	color: white;
}

/*Project View ------------------------------------------------------------------*/
/*
I'll save you some google-time here:
rem = root-em. 1rem = the value of the root font-size. So if the html element has a font-size of 16px, 10 rem = 160px anywhere in the site.
em. 1em = the value of the font-size of the element on which it is applied. So if the div font-size is 18px, even if the root is 16px, 10em = 180px.
benefit: their scalability and you don't have to adjust the px value of everything if you want to scale up or down.
*/
/*also, we used the same template for each of these sections for uniformity- it's nicer to look at*/
.project-list-header, .projects-section, #deliverables, .deliverables-section, .resources-section, .chat-section, .drawCanvas-section {
  position: relative;
  color: white;
  font-weight: 400;
  line-height: 1.5;
	padding:10px;

}

.deliverables-section, .resources-section, .chat-section, .drawCanvas-section {
 height: 680px;
 padding:10px;
 text-align: center;
 align-content: center;

}

.resources-section, .chat-section, .drawCanvas-section {
 height: 760px;
 padding:10px;
 text-align: center;
 align-content: center;
}

/*dropdown part
*/

#deliverable-input-status1 {
  border: 3px solid #4990E2;
  border-radius: 0.8em;
  text-align: center;
}

#deliverable-input-status2 {
  border: 3px solid #D001C4;
  border-radius: 0.8em;
  text-align: center;
}

#deliverable-input-status3 {
  border: 3px solid #50E3C2;
  border-radius: 0.8em;
  border-width: solid;
}
#deliverable-input-status4 {
  border: 3px solid #F6A623;
  border-radius: 0.8em;
  border-width: solid;
}

/*any overflow will be contained within the container and not spill into the containers below, nor will it increase the size of the container*/
#deliverables, .resources-section {
  overflow-y: scroll;
}

#deliverables {
  max-height: 35rem;
}

.deliverables-section input, .project-list-header input {
  width: 100%;
  margin: .5rem 0;
}

.deliverables-section button, .deliverables-section select {
  margin: 0 .5rem 0 0;
}

.project-view h2, .project-view h3, .project-view h5 {
  color: white;
  text-align: center;
}

.project-view h4, .project-view h1, {
  color: #2d2d2d;
}

p {
	color: #2d2d2d;
}

/*Overwrite the default heading color we just chose since we're changing the background*/
.deliverables-section-header h3 {
  margin: 0;
  color: #fff;
}

.deliverables-section-header {
  padding: .5rem 0;
  background-color: #66A8F5;
  font-weight: 400;
}

/*we wanted the deliverables, resources, and chat headers to be centered but not the repo name at the top*/
.project-view h2, .project-view h3 {
  text-align: center;
}

.deliverables-section::after, .resources-section::after, .project-list-header::after, .projects-section::after {
  display: block;
  clear: both;
  text-align: center;
}

th {
	padding: 10px;
	text-align: center;
}



#section1 {
	border: 3px solid #4990E2;
	height: 800px;
	width: 700px;
	border-radius: 2.0em;
  text-align: center;
	border-width: solid;
	
}

#section2 {
	border: 3px solid #D001C4;
	height: 800px;
	border-radius: 2.0em;
  text-align: center;
	border-width: solid;
	width: 770px;
	

}

#section3 {
	border: 3px solid #50E3C2;
	height: 800px;
	border-radius: 2.0em;
  border-width: solid;
	width: 770px;

}

#section4 {
	border: 3px solid #F6A623;
	height: 800px;
	border-radius: 2.0em;
  border-width: solid;
	width: 770px;


}

/*
.chat-row {
	height: 700px;
	width: 610px;
}
*/

/*the video chat is hardcoded at 700px, so to keep the chat next to it the same height, we also hard code it to match*/
/*
.chat-section {
  height: 640px;
	text-align: center;
}

.drawCanvas-section {
  height: 640px;


}
.resources-section {
  height: 640px;


}
*/


/*this actually centers the input fields and buttons*/
#deliverableForm, #resourceForm {
  text-align: center;
}

/*we decided against inline forms because they're the devil. so each one is set to 100% to fill the container*/
#deliverableForm input, #resourceForm input {
  width: 100%;
  margin: .5rem;
}

#resourceForm button {
  margin: .5rem;
}

#deliverableForm {
  padding: .5rem;
}

#resourceForm {
  padding: .5rem .5rem 0 .5rem;
}


/*Chat Room Styles ------------------------------------------------------------------*/
/*this seemed to be the perfect balance so that the messages don't spill over and the input field remains near the bottom*/
.messages {
  min-height: 600px;
  overflow-y: scroll;
  word-wrap: break-word;
  padding: 0 1em;
  max-height: 600px;
}

.message {
  margin-bottom: .5em;
}

.messageUser {
  display: inline-block;
}

.messageDate {
  color: grey;
  font-style: italic;
  font-size: 13px;
  margin: 0.19em .8em 0em;
}

.messageText {
  display: inline;
  margin-top: 1.5em;
  text-align: left;
}

/*Add Repo Styles ------------------------------------------------------------------*/
.repoAddMessage {
  font-size: 14px;
  font-weight: bold;
}

.repoNamebar {
  margin: 1px 16px;
  padding: 3px;
  background: #01061A;
  font-size: 1em;
  cursor: pointer;
}

.input-group-addon {
  float: left;
  margin: 2.5px 5px 0px 0px;
  padding: 3px;
  font-size: .9em;
}

.repo-nav {
	font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.repo-nav:hover {
  text-decoration: none;
  color: #0275d8;
}

.delete {
  font-size: 16px;
  color: white;
  background-color: #01061A;
  border-color: #01061A;
}

a.repoNav {
  display: inline-block;
}

.delete:hover {
  color: white;
  cursor: pointer;
}

/*Resources ____________________________________________________________________________________________________*/
.resource {
  font-size: 1.3em;
  margin: 5px 0 0 0;
}

.deleteResource {
  margin: 0 15px 5px 0;
}

.resourceName {
  font-weight: bold;
  margin: 0 8px;
  cursor: pointer;
}

.resourceName:hover {
  text-decoration: none;
}

.fa-times {
  margin: 0 5px 2px 0;
}

.fa-times:hover {
  cursor: pointer;
}

.fa-external-link {
  display: inline;
  width: 10px;
  margin: 0 10px 0 0;
  font-size: .9em;
}

/*Misc ___________________________________________________________________________________________________*/
.fa-trash {
  font-size: 1.5em;
}

.fa-spinner {
  width: 100%;
  text-align: center;
}

/*About modal---------------------------------------------------------------------------------------------*/

.our-team {
  padding: 0;
  text-align: right;
}

.name {
  float: right;
}

.profiles {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 100px;
  background-color: #E9F7FF;
}

.profiles:hover {
  background-color: #efe;
}

.profiles img {
  float: left;
  margin: 0 5px;
  height: 90px;
	border-radius: 50%;
}

.profiles .description {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}
.aboutButton {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}


.profiles .name {
  font-size: 20px;
  font-weight: 600;
}
/*

.wrapper {
	height: 800px;
}
*/


.navbar-header {
	margin-left: 20px;
	background-color: transparent;
	margin-top: 15px;
}

/*Breakpoints (for responsive design) ------------------------------------------------------------------*/

/*We don't want to push a modal to super small devices*/
@media (max-width: 766px) {
  .our-team {
    display: none;
  }
}

 /*Below 991px, page resizes to single-column, so we need to make sure the only space is 1rem above each component for proper spacing*/
@media (max-width: 991px) {
  .project-view-component {
    padding: 0;
    margin: 1rem 0 0 0;
  }

  /*off-set the extra space at the bottom of the appear.in window*/
  .chat-section {
    margin-top: -.5rem;
  }

  .drawCanvas-section{
    margin-top: -.5rem;
  }

  #deliverableForm input, #deliverableForm button {
    margin: .25rem;
  }
}

/*Above 991px, page resizes to double-column, so we need to make sure each component has 1rem of space above, the left components .5rem to the right, and the right components .5rem to the left to make a total of 1rem of space in between and 1rem to the sides*/
@media (min-width: 992px) {
  .project-view-component {
    margin-top: 1rem;
  }
  .project-view-component-left {
    padding: 0 .5rem 0 0;
  }
  .project-view-component-right {
    padding: 0 0 0 .5rem;
  }
}
